@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>

    <h3> HEYO! </h3>
    <p> Welcome to My Page! </p>

    <p>
        <button onclick="Square()">Click This!</button>
    </p>

    <div id="SquareContainer">
        <div id="SquareAnimation">
        </div>
    </div>

    <iframe width="727" height="409" src="https://www.youtube.com/embed/Jn1Uwsg3eRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  

</body>
